<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555598693883-pcp3apoua3ambud8g859tet63214bes6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555598693883-pcp3apoua3ambud8g859tet63214bes6</string>
	<key>API_KEY</key>
	<string>AIzaSyCANmFPGNBEOU61dJEzXG-hDenchJYcPEw</string>
	<key>GCM_SENDER_ID</key>
	<string>555598693883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicflutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-flutter-59526</string>
	<key>STORAGE_BUCKET</key>
	<string>project-flutter-59526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555598693883:ios:94f60395c2dd4ef596775e</string>
</dict>
</plist>